.counter {
    display: flex;

    &__button {
        width: 32px;
        height: 32px;
        background-color: var(--grey);
        border: none;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgb(0, 0, 0, 0.25);
        transition: color 0.3s ease-in-out;

        &:hover,
        &:focus {
            color: var(--orange);
            opacity: 1;
            cursor: pointer;
        }
    }

    &__count {
        width: 32px;
        height: 32px;
        background-color: var(--grey);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}